* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
}

.logo > h1 {
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
}

.links > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background-color: #1F2937;
}

.links > ul > li,
.links > ul > li > a {
    font-size: 18px;
    color: #E5E7EB;
    list-style: none;
    text-decoration: none;
    background-color: #1F2937;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    height: 40vh;
}

.hero,
.hero > div,
.hero > div > * {
    background-color: #1F2937;
}

.hero > div {
    width: 35%;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.hero-text > h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-text > p,
.hero-text > button,
.hero-image > p  {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-text > button {
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    padding: 6px;
    width: 30%;
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 48px;
    height: 40vh;
}

.subtitle {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.subtext {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 24px;
    width: 65vw;
}

.subtext-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.subtext-item > .blue-square {
    width: 100px;
    height: 100px;
    border: 2px solid #3882F6;
    border-radius: 12px;
}

.subtext-item > p {
    font-size: 18px;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px;
    height: 60vh;
    background-color: #E5E7EB;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 60%;
}

.text > .quotext {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.text > .source {
    font-size: 24px;
    font-weight: bold;
    color: #1F2937;
    align-self: flex-end;
    margin-right: 1rem;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px;
    height: 40vh;
}

.cta-window {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 80%;
    background-color: #3882F6;
    border-radius: 0.5rem;
}

.cta-window > .text {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2px;
}

.cta-window > .text > h2 {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    margin-right: 13rem;
}

.cta-window > .text > p {
    font-size: 20px;
    color: #F9FAF8;
}

.cta-window > .button {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cta-window > .button > button {
    padding: 12px;
    width: 8.5vw;
    border-radius: 0.5rem;
    border: 2px solid #F9FAF8;
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    height: 12vh;
}

.footer > p {
    font-size: 20px;
    font-weight: bold;
    color: #F9FAF8;
    text-align: center;
}